# Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Django uploaded files
media/
media/resumes/
media/profile_photos/
media/company_logos/

# Environment / secrets
.env
.env.*
!.env.example

# Python virtual environment
venv/
.venv/
env/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log